black==25.1.0
blinker==1.9.0
click==8.1.8
colorama==0.4.6
flask==3.1.0
isort==6.0.1
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.2
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pip==24.0
platformdirs==4.3.7
types-click==7.1.8
types-flask==1.1.6
types-jinja2==2.11.9
types-markupsafe==1.1.10
types-werkzeug==1.0.9
typing-extensions==4.13.2
uv==0.6.14
werkzeug==3.1.3
